server:
  port: 2001

spring:
  application:
    name: seata-order-service
  cloud:
    alibaba:
      seata:
        #自定义事务组名称需要与seata-server中的对应
        tx-service-group: my_test_tx_group
    nacos:
      discovery:
        server-addr: localhost:8848
        group: SEATA_GROUP

  datasource:
    type: com.alibaba.druid.pool.DruidDataSource            # 当前数据源操作类型
    driver-class-name: com.mysql.jdbc.Driver
    url: jdbc:mysql://192.168.0.88:3306/seata_order
    username: root
    password: root

feign:
  hystrix:
    enabled: false

logging:
  level:
    io:
      seata: info

mybatis:
  #mapper和dao接口不在同一个包写时，配xml的路径
  mapperLocations: classpath:mapper/*.xml
  #配上之后，xml的parameterType不用写全路径
  type-aliases-package: com.zhihao.domain    # 所有Entity别名类所在包

